##############
# FILESYSTEM #
##############
.DS_Store

##################################
# LATEX TEMPORARY FILES AND LOGS #
##################################
*.aux
*.fdb_latex
*.fdb_latexmk
*.log
*.synctex.gz

######################
# LaTeX Files#
######################
*.dvi
*.fls
*.lof
*.lot
*.out
*.ps
*.toc
ast2016.pdf

######################
## Build tool auxiliary files:
######################
*.fdb_latexmk
*.synctex.gz
*.pdfsync

######################
# algorithms
######################
*.alg
*.loa

######################
# theorems
######################
*.thm

######################
# beamer
######################
*.nav
*.snm
*.vrb

######################
# glossaries
######################
*.acn
*.acr
*.glg
*.glo
*.gls

######################
# hyperref
######################
*.brf

######################
# listings
######################
*.lol

######################
# makeidx
######################
*.idx
*.ilg
*.ind
*.ist

######################
# minitoc
######################
*.maf
*.mtc
*.mtc0

######################
# minted
######################
*.pyg

######################
# nomencl
######################
*.nlo

######################
# todonotes
######################
*.tdo

######################
# Vim #
######################
*.swp
*.swo
*.project.vim

########
# IDEA #
########
.idea/

###############
# BUILD FILES #
###############


##########
# BIBTEX #
##########
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

#################
# PROJ-SPECIFIC #
#################

